<included>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml" />

    <!--  TRACE < DEBUG < ... < INFO < WARN < ERROR  -->

    <property resource="logback-variables.yml" />

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
        <layout>
            <pattern>[CONSOLE] ${LOG_PATTERN}</pattern>
        </layout>
    </appender>

    <root level="INFO">
<!--        <appender-ref ref="CONSOLE" />-->
    </root>
</included>